* {
  box-sizing: border-box;
  border: 1px solid black;
}

body {
  width: 100%;
}

$font-stack: Helvetica, sans-serif;
$primary-font-color: red;

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  background-image: url("../assets/images/officeoutside.jpeg"), linear-gradient(to bottom, #ffffff, #0794f8);
  background-repeat: no-repeat;
  background-size: cover;
}


.header {
  background-color: #e5ffa2;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
}

.header-nav>img,
.logo>img {
  height: 75px;
  width: auto;
}

.header-right {
  display: flex;
  flex-direction: row;
}

.signin {
  position: relative;
  right: 50px;
}

.signin,
.signup {
  font-size: 30px;
}

.main-content>img {
  width: 100%;
  height: auto;
}

.secondary-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // grid-template-rows: repeat(2, 1fr);
  // grid-template-columns: repeat(2, 1fr);
  // grid-gap: 5%;
  width: 95%;
  margin: 0 auto;
}

.sec-content {
  text-align: center;
  width: 45%;
}

.sec-content>img {
  width: 100%;
  height: auto;
}
