* {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #e5ffa2;
}

$font-stack: Helvetica, sans-serif;
$primary-font-color: red;

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  background-image: url("../assets/images/officeoutside.jpeg"), linear-gradient(to bottom, #ffffff, #0794f8);
  background-repeat: no-repeat;
  background-size: cover;
}


.header {
  background-color: #e5ffa2;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
}

.header-nav>img,
.logo>img {
  height: 75px;
  width: auto;
}

.header-right {
  display: flex;
  flex-direction: row;
}

.signin {
  position: relative;
  right: 50px;
}

.signin,
.signup {
  font-size: 30px;
  // background-image: linear-gradient(to left, #fbbf34, #f06f6f);
  padding-top: 1px;
}

.main-content>img {
  width: 100%;
  height: auto;
  margin-bottom: 5%;
}

.secondary-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

.sec-content {
  text-align: center;
  width: 45%;
  margin-bottom: 5%;
}

.sec-content>img {
  width: 100%;
  height: auto;
}

p {
  font-size: 30px;
}

h5 {
  font-size: 200px;
  text-align: center;
  color: red;
  text-shadow:
		-5px -5px 0 #000,
		5px -5px 0 #000,
		-5px 5px 0 #000,
		5px 5px 0 #000;
}

h3 {
  text-align: center;
  font-size: 90px;
  color: red;
  margin-top: -13%;
  margin-bottom: 25%;
  text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
}

.secondary-content2 {
  border: 95px solid #191919;
  text-align: center;
  background-color: #e5ffa2;
  width: 100%;
  font-size: 75px;
  margin-bottom: 5%;
}

.signin>h4,
.signup>h4 {
  background-image: linear-gradient(to left, #fbbf34, #f06f6f);
  padding: 10px 15px;
  color: red;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

img {
  border-radius: 10px;
}
